# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
**/.vitepress/cache
lib
es
.eslintcache
pnpm-lock.yaml
yarn.lock
package-lock.json

# 自动复制的示例文件目录（源文件在 docs/example1）
docs/public/sandpack-example
*.code-workspace